

<h1>Menu Items</h1>

<!--<table class="table">
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    /*(needsanatsign)foreach (Menu m in Model)
    {
        <tr>
            <td>(needsanatsign)m.MenuItem</td>
            <td>(needsanatsign)m.Price.ToString()</td>
        </tr>
    }
</table>-->

@if (Model.Count == 0)
{
    <p>Please Select an item to order!</p>
}