@{
    ViewData["Title"] = "About";
}

<head>
    <title>Seasoned In The Abyss</title>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        h2 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    </style>
</head>

<body>
    <img src="https://i.imgur.com/zoqBN2I.jpg" width="250" px" height="250" px" />
    <h1>
        About us...
    </h1>
    <p>
        "Seasoned In The Abyss" is a dream of foodie and software developer Jennifer Flores who
        enjoys art, music, and most-importantly: metal. Jennifer's father raised her listening to
        bands like Tool, Iron Maiden, and classic rock by Pink Floyd and Led Zepplin. This began a
        life-long love of alternative music and and artistic lifestyle fueled by concert going and
        involvment in the local music scene in Baltimore, MD.

        As an adult, Jennifer's love for throwing theme parties and serving whimsical food items was
        shared through the venue Art Park Ost, the art gallery owned and curated by Jennifer for 7 years in
        the histroical district in Granite City, Illinois. Over the years, Jennifer pairs with culinary
        masterminds like Krissana Frawley, chef Old Rock House, and Debra Grace, owner Grace Manor Restaurant
        to serve farm to table items at many of her openings and events held at APO. This desire to
        prepare and create edible art has manifested in this incredible fusion of art music and fun that
        is now the Seasoned In The Abyss Foodtruck'
    </p>
    <br />
    <img src="https://i.imgur.com/LNSFeSe.jpg" width="250" px" height="250" px" />
    <img src="https://i.imgur.com/nIgc6og.jpg" width="250" px" height="250" px" />
    <img src="https://i.imgur.com/RK2B1df.jpg" width="250" px" height="250" px" />
    <img src="https://i.imgur.com/C11cvuE.jpg" width="250" px" height="250" px" />
    <img src="https://i.imgur.com/l2RxlbA.jpg" width="250" px" height="250" px" />
</body>

<footer>
    Seasoned In The Abyss <em>email:</em> seaseonedintheabyss@charter.net <em>phone:</em> 555-666-6666
</footer>