@{
    ViewData["Title"] = "Location";
}

<head>
    <title>Seasoned In The Abyss</title>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        h2 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        h3 {
            color:gray;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        p {
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
    </style>
</head>
<body>
    <h1> Our Future Locations!</h1>
    <p>
        Below are our future locations where you can find us and our metal menu. Please know that you can place early orders for our
        outdoor events- this allows us to make sure we are stocked up on what you want when we show up. Don't forget to use the text app
        <!--activate this
         chunk-->
        to
        pre-order your items for our next big event!'
    </p>

    <h1>October 1-2</h1>
    <h3>Flava' O' Love FEST</h3>
    <h4>Orlando, FL</h4>
    <button type="button" class="btn-danger">Click Here to Order</button>

    <h1>October 6-9</h1>
    <h3>Rob Zombie at The Dome</h3>
    <h4>Tampa, FL</h4>
    <button type="button" class="btn-danger">Click Here to Order</button>

    <h1>October 10-11</h1>
    <h3>Pantera Fans in Love Festival</h3>
    <h4>Orlando, FL</h4>
    <button type="button" class="btn-danger">Click Here to Order</button>

    <h1>October 16-18</h1>
    <h3>Mind over Matter Mass Gathering Festival</h3>
    <h4>Naperville, FL</h4>
    <button type="button" class="btn-danger">Click Here to Order</button>

    <h1>October 20-21</h1>
    <h3>Mini Cochella- Florida-style</h3>
    <h4>Orlando, Miami</h4>
    <button type="button" class="btn-danger">Click Here to Order</button>

    <h1>October 24-25</h1>
    <h3>Hell Fest: featuring All That Remains, At The Gates, and Ghost</h3>
    <h4>Ft. Lauderdale, FL</h4>
    <button type="button" class="btn-danger">Click Here to Order</button>


</body>

<footer>
    Seasoned In The Abyss <em>email:</em> seaseonedintheabyss@charter.net <em>phone:</em> 555-666-6666
</footer>

