@{
    ViewData["Title"] = "Contact";
}

<head>
<title>Seasoned In The Abyss</title>
<style>
    body {
        background-color: black;
    }

    h1 {
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    h2 {
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
</style>
</head>

<body>

</body>

<footer>
    Seasoned In The Abyss <em>email:</em> seaseonedintheabyss@charter.net <em>phone:</em> 555-666-6666
</footer>


