@{
    ViewData["Title"] = "Seasoned In The Abyss";
}

<head>
    <title>Seasoned In The Abyss</title>
    <style>
       body {background-color: black;}
       h1 {
           color: red;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
       }

        h2 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

    </style>
</head>

<body>
    <img src="https://i.imgur.com/vAmkall.jpg" width="1100" px" height="380" px" text-align:center; />
    <h1>A Party On Your Plate</h1>
    <p>
        With Seasoned in The Abyss, you have a party on your plate all the time. With metal-themed food, we have a
        rotating menu of season-themes drinks, desserts, and entrees to meet all your metal needs. Ghost burgers topped
        with communion wafers, dry-ice smoking blood-curtling drinks, and bleeding cupcakes toppped with sugar glass:
        we have everything you need to make your night the complete edible metal experience!
    </p>
    <br />
    <ahref=""<button type="button" class="btn btn-danger">Enter Your Order Here</button>
    <h2>Check out these custom items</h2>
    <img src="https://i.imgur.com/50fHeI5.jpg" width="200" px" height="250" px" />
    <img src="https://i.imgur.com/qRhQSji.jpg" width="175" px" height="250" px" />
    <img src="https://i.imgur.com/vYM573Z.jpg" width="275" px" height="250" px" />
    <img src="https://i.imgur.com/FiWNMtl.jpg" width="200" px" height="250" px" />
    <img src="https://i.imgur.com/YmKo7js.jpg" width="250" px" height="250" px" />
    <p>

    </p>
</body>

<footer>
    Seasoned In The Abyss <em>email:</em> seaseonedintheabyss@charter.net <em>phone:</em> 555-666-6666
</footer>


