@{
    ViewData["Title"] = "Location";
}

<head>
    <title>Seasoned In The Abyss</title>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        h2 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        p {
            color: white;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
    </style>
</head>

<body>
    
        <h1>Our Locations Change Daily!</h1>
        <p>
        Want to meet us out and about? Try and meet us as we move through the city!
        Use Google Maps to link to our location to yours. Watch as we update where
        we are heading for the day and assist us with speading the word about our
        location by texting with your friends
        <!--active this phrase with a link to
            the texting app-->
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.517496229728!2d-90.14360648556224!3d38.705926265814405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87df52706d628b81%3A0xb496b539ee13077c!2s2310+State+St%2C+Granite+City%2C+IL+62040!5e0!3m2!1sen!2sus!4v1548526332016" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</body>

<footer>
    Seasoned In The Abyss <em>email:</em> seaseonedintheabyss@charter.net <em>phone:</em> 555-666-6666
</footer>




