@{
    ViewData["Title"] = "Menu";
}

<head>
    <title>Seasoned In The Abyss</title>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        h2 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        h3 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        p {
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
    </style>
</head>
<body>
    <h1>Welcome to Our Metal Menu!</h1>
    <p>
        Our seasonal menus are available during the posted calendar dates, as well as for our catering services.
        Click on each item and add them to your order for your food to be scheduled for preparation for your future event.
    </p>
    <h1>Entrees</h1>
    <div style="color: red;"><input type="checkbox" name="item1" value="Burger" >
     Ghost Burger</div>  
    <br>
    <p>
        This 1/4lb angus burger features a ghost pepper aoili spread, lettuce, tomato, and
        spicy pepperjack cheese. Topped with a edible communion wafer, this burger is sure to
        rock your tastebuds and put some fire in your soul! *WARNING!* eat at your own rish **Not
        responsible for any adverse alergic reactions including loss of your soul
    </p>
    <img src="https://i.imgur.com/50fHeI5.jpg" width="100" px" height="100" px" />
    <br>
    
    <div style="color: red;">
        <input type="checkbox" name="item2" value="HotDog"> Bloody Finger Dogs</div><br>
        <p>
            Its not just a hotdog, ITS A BLOODY-FINGER DOG! Enjoy this creative twist on a fleshy-favorite.
            Ball-park hotdog in a Kaiser bun, topped with your choice of ketchup, dijon mustard, onions, pico de gallo,
            and chili-n-cheese.
        </p>
        <img src="https://i.imgur.com/aM20qkM.jpg" width="100" px" height="100" px" />
        <br>
        <div style="color: red;">
            <input type="checkbox" name="item3" value="Tacos"> Here's Looking At You Tacos</div><br>
            <p>
                See if you can brave eating your food when its looking back at you! These corn hard-shell tacos are filled with
                zesty taco meet marinated in our custom taco seasoning. Served with your choice of toppings, including the option of
                mexican cheese mix (sharp, colby-jack, pepperjack), lettuce, tomatos, pico de gallo, and a selection of one of our 5
                spicy salsas including mango-habanero, ghost pepper salsa, mild salsa, medium salsa, and shut-your-mouth spicy salsa. Chose
                one or all 5!
            </p>
            <img src="https://i.imgur.com/tAB3zGX.jpg" width="150" px" height="100" px" />
            <br />
            <h1>Desserts!</h1>
            <div style="color: red;">
                <input type="checkbox" name="item4" value="Pie"> Slayer Pie</div><br>
                <p>
                    Slay your craving for sweets with this amazing Slayer pie. Filling options include cherry, blackberry,
                    raspberry, apple, and peace. This to-die-for pie is one of several options you have when it comes to
                    ordering a "metal-themed" pie. Love a band and want to see their logos on a pie? Email us and we will
                    talk customer prices for you!
                </p>
                <img src="https://i.imgur.com/vYM573Z.jpg" width="150" px" height="100" px" />
                <br />
                <div style="color: red;">
                    <input type="checkbox" name="item5" value="Cupcake"> Deadly Cupcakes</div><br>
                    <p>
                        Depending on how evil we are feeling that day, any one or all, of these cupcakes could be available for
                        your desserting please. Cupcakes that could be offered include: Devils food topped with edible eyeball candy,
                        Vanilla Cake with Candy-corn icing, Double- chocolate topped with green Frankenstein icing topped with
                        a Reeses Cup, and/or Red Velvet cake toppped with cream cheese icing and an edible shard of candy glass with
                        raspberry drizzle.
                    </p>
                    <img src="https://i.imgur.com/FiWNMtl.jpg" width="150" px" height="100" px" />

</body>
<footer>
    Seasoned In The Abyss <em>email:</em> seaseonedintheabyss@charter.net <em>phone:</em> 555-666-6666
</footer>